* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

header {
    padding: auto;
    background-color: darkgreen;
    display: flex;
    align-items: center;
}

.imgEcobus {
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.headerTitulo {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 2em;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

.colorFondo {
    background-color: rgba(0, 0, 0, 0);
}

#container {
    background-color: rgba(0, 0, 0, 0);
}

.labelClass {
    font-size: 30px;
}

.carousel {
    position: relative;
}

.carousel.pointer-event {
    touch-action: pan-y;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-inner::after {
    display: block;
    clear: both;
    content: "";
}

.carousel-inner {
    max-height: 39rem !important;
    margin-bottom: 20px;
}