* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    font-size: 15px;
    box-sizing: border-box;
    top: 0;
    left: 0;
}

header {
    padding: auto;
    background-color: darkgreen;
    display: flex;
    align-items: center;
    position: fixed;
}

.navbar {
    padding: 1rem 0;
    display: block;
    text-decoration: none;
}

.imgEcobus {
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.headerTitulo {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 2em;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

.colorFondo {
    background-color: rgba(0, 0, 0, 0);
}

.labelClass {
    font-size: 30px;
}

#cargando {
    display: none;
}

.carousel {
    position: relative;
}

.carousel.pointer-event {
    touch-action: pan-y;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-inner::after {
    display: block;
    clear: both;
    content: "";
}

.carousel-inner {
    max-height: 39rem !important;
    margin-bottom: 20px;
}

.imgbanner {
    position: relative;
    width: 100%;
    max-height: 39rem !important;
    margin-bottom: 20px;
    margin-top: 20px;
}

header {
    position: relative;
    display: block;
    box-sizing: border-box;
}

.row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.card-img-top {
    width: 20vw;
    height: 15vw;
    max-width: 100%;
    max-height: 100%;
}

.presentacion {
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}

.introduccion {
    flex: 1;
}

.intro-text h1 {
    font-size: 44px;
    font-weight: 500;
    background: linear-gradient(to right, #494964, #6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro-text p {
    margin-top: 5px;
    font-size: 22px;
    color: #585772;
}

.cover {
    flex: 1;
    display: flex;
    justify-content: center;
    height: 60vh;
}

.cover img {
    height: 80%;
    filter: drop-shadow(0px 5px 3px black);
    animation: drop 1.5s ease;
}

@media screen and (max-width: 1024px) {
    .presentacion {
        flex-direction: column;
    }
    .introduccion {
        margin-top: 5vh;
        text-align: center;
    }
    .intro-text h1 {
        font-size: 30px;
    }
    .intro-text p {
        font-size: 18px;
    }
    .cover img {
        height: 50em;
        margin-bottom: 20px;
    }
}